body {
    background-image: url(../Images/Arriere\ plan\ 2.jpg);
    background-size: 600px;
    margin: auto;
    box-sizing: border-box;
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    transition: height 2s ease;
    max-width: 500px;
    height: 5em;
    background-color: white;
    padding: 0em 3em;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

#expand-image {
    width: 4em;
    height: auto;
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .box{
    height: 80vh;
}

/*
nav img {
    width: 4em;
    height: 4em;
    cursor: pointer;
    display: block;
}

.box:hover  {
    height: 80vh;
}*/

.Menu {
    display: none;
}







body {
    background-image: url(../Images/Arriere\ plan\ 2.jpg);
    background-size: 600px;
    box-sizing: border-box;
    height: 100vh;
}

header {
    position: sticky;
    top: 0%;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    transition: height 2s ease;
    max-width: 500px;
    height: 5em;
    background-color: white;
    padding: 0em 3em;
    margin: auto;
    box-sizing: border-box;
}

#expand-image {
    width: 4em;
    height: auto;
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .box{
    height: 80vh;
}

.Menu {
    display: none;
}





@media screen and (min-width: 770px) {

body {
    background-image: url(../Images/Arriere\ plan\ 2.jpg);
    background-size: 600px; 
}

header {
    position: sticky;
    top: 0%;
    z-index: 100;
}

.box {
    max-width: 1400px;
    height: 0em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    align-items: baseline;
    padding: 0em 3em;
    max-width: 1400px;
    margin: auto;
}


h1 {
    font-size: 3em;
    padding-right: 3em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.Menu a {
    font-size: 1.5em;
    padding: 3em 1em;
}

nav a:hover{
    background-color: #FDD734;
    transition-duration: 1s;
}

#expand-image {
    display: none;
}
}





section {
    background-color: white;
    padding: 3em 8em;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 3em;
}

#Accueil {
    margin-top: 3em;
}

.Présentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4em;
}

/* A revoir avec JS pour adapter dynamiquement la police au bloc */
.Text-box p:nth-child(1) {
    font-size: 6.5em;
    line-height: 1px;
}

.Text-box p:nth-child(2) {
    font-size: 3.7em;
}

.Text-box p:nth-child(3) {
    font-size: 1.5em;
}

.Text-box p {
    line-height: 20px;
    
}

.Text-box {
    transition: transform 1s;
}

.Text-box:hover {
    transform: scale(1.2);
}

.Contact {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.Contact p, .Contact a {
    color: white;
    font-size: 1.5em;
    background-color: #FDD734;
    padding: 0.5em;
    border-radius: 10px;
    transition: transform 1s;
}

.Contact p:hover {
    transform: scale(1.1);
}

.Contact a:hover {
    transform: scale(1.1);
}


.Infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10em;
    padding-bottom: 4em;
    padding-top: 1em;
    align-items: baseline;
    border-bottom: #FDD734 solid 2px;
}

.Info--last {
    border-bottom: none;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding: 0.5em;
    margin-bottom: 2em;
    border: #FDD734 solid 2px;
    border-radius: 10px;
    display: inline-block;
}


.Profession, .Entreprise {
    font-size: 2.5em;
    margin: 0;
    line-height: 50px;
}

.Lieu-Date {
    margin: 0;
    font-size: 1.2em;
}

.Work p {
    font-size: 1.2em;
    margin: 0.2em;
}

.Pourcentage {
    border: #FDD734 solid 1px;
    border-radius: 10px;
    width: 560px;
    height: 1.5em;
    
    position: relative;
    overflow: hidden;
}

.Grid-Compétence {
    display: flex;
    gap: 10%;
    padding-bottom: 5em;
}

.Grid-Compétence p {
    font-size: 1.2em;
}

.Background-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #FDD734;
    animation: revealBackground 2s ease-in-out forwards;
}

.Background-mask--HTML{
    width: 70%;
}

.Background-mask--CSS3{
    width: 70%;
}

.Background-mask--PHP{
    width: 10%;
}

.Background-mask--MySQL{
    width: 10%;
}

.Background-mask--SketchUp{
    width: 90%;
}

.Background-mask--FileMaker{
    width: 90%;
}

@keyframes revealBackground {
    0%{
        transform: translateX(-100%);}
    100% {
        transform: translateX(0);
    }
}

.Flex-Compétence {
    display: flex;
    justify-content: space-between;
}

.Circle {
    border: #FDD734 solid 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.Small-Circle {
    border: #FDD734 solid 1px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Small-Circle p {
    font-size: 1.5em;
}

#Portfolio p {
    font-size: 10em;
    text-align: center;
    margin: 0;
}

